.button {
  width: 100%;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: none;
  border-radius: 8px;

  background: #9b6c43;
  color: #fff;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover:not(:disabled) {
  background: #835733;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.icon {
  padding: auto;
}
